<!DOCTYPE html>
<html>
<head>
        </title></title>
        <link rel="stylesheet" href="../scripts/mainMenu.css">
</head>

<style> 
<style> 
</style>
<body class="wrapper">
<noscript><h1>Your browser does not support javascript, go buy one!</h1></noscript>
    <img src='/images/mainMenu.jpg'></img>
    <h1>1. Travel the Trail</h1>
    <h1>2. Learn About the Trail</h1>
    <h1>3. See The Oregon Top 10</h1>
    <h1 id ='soundToggle'>4. Turn Sound Off</h1>
    <div class="container"><div id="gameContainer"></div><//div>
</body>
<script type="text/javascript" src="../scripts/global.js"></script>
<script type="text/javascript" src="../scripts/mainMenu.js"></script>
</html>