<!DOCTYPE html>
<html>
<head>
        </title></title>
        <link rel="stylesheet" href="../scripts/trail.css">
</head>
<style> 
</style>
<body>
<div id= "terrainImage" /> 
</div><br/>
<div id="wagon"> 
<img id= "wagonImage" src="/images/wagon.jpg">
<img/>
</div>
<div id="messageBox"></div>
<div id="optionBox">
    <h1> You must select both a Pace & a ration Policy</h1><br/>
    <strong>Select a Pace:</strong><br/>
    <span id="steadyPace">1. Steady</span><br/>
    <span id="strenuousPace">2. Strenuous</span><br/>
    <span id="gruelingPace">3. Grueling</span><br/>
    <span id="restingPace">4. Resting</span><br/>
</div><br/>
<div id="foodBox">
    <h1> You must select both a Pace & a ration Policy</h1><br/>
    <strong>Select a Ration Policy:</strong><br/>
    <span id="Filling">5. Filling</span><br/>
    <span id="Meager">6. Meager</span><br/>
    <span id="Bare-Bones">7. Bare-Bones</span><br/>
</div><br/>
<div id="informationPanel">
<strong>Days on the Trail:</strong><span id="travelDays"></span>
<br/>
<strong>Miles Traveled:</strong><span id="milesTraveled"></span>
<br/>
<strong>Current Weather:</strong><span id="currentWeather"></span>
<br/>
<strong>Current Health:</strong><span id="currentHealth"></span>
<br/>
<strong>Current Food:</strong><span id="currentFood"></span>
<br/>
<strong>Current Pace:</strong><span id="currentPace"></span>
<br/>
<strong>Current Rationing:</strong><span id="currentRationing"></span>
<br/>
<strong>Current Terrain:</strong><span id="currentTerrain"></span>
<br/>
<strong># of Party Members:</strong><span id="aliveMembers"></span>
<br/>
</body>
<script type="text/javascript" src="/scripts/trail.js"></script>
<script type="text/javascript" src="/scripts/global.js"></script>
</html>