body {
    background-color: black;
}
p { text-align: center;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}

h1 { text-align: center; 
     color: white;
     font-family: sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;    
    }
    
#wagon {
    background-size: 100% 100%;
    width: 378px;
    height: 193px;
    left: 35%;
    right: 35%;
    position: relative;
}   
 
#wagonImage {
    position: absolute;
    width: 116px;
    border: 0px;
    height: 76px;
    margin-bottom: 5px;
    }
    
div{
    text-align: left;
    color: white;
    font-family: sans-serif;
}


strong {
    text-align: left
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: sans-serif;
}

span {
    text-align: left
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: sans-serif;
}

#optionBox {
    visibility: hidden;
    border-color: white;
    border: 10px;
    background-color: grey;
    color: grey;
}

#foodBox {
    visibility: hidden;
    border-color: white;
    border: 10px;
    background-color: grey;
    color: grey;
}